/*=============================
=            Fonts            =
=============================*/
$base-font-family: 			Helvetica, Arial, sans-serif !default;
$base-font-size: 			em(16px) !default;
$base-font-weight: 			300 !default;
$base-line-height: 			1.25 !default;

$font-size-xs: 				em(10px) !default;
$font-size-sm:				em(12px) !default;
$font-size-sd:				em(14px) !default;
$font-size-zeta: 			em(18px) !default;
$font-size-epsilon: 		em(21px) !default;
$font-size-delta: 			em(24px) !default;
$font-size-gamma: 			em(36px) !default;
$font-size-beta: 			em(48px) !default;
$font-size-alpha: 			em(60px) !default;
$font-size-zeus: 			em(88px) !default;

$headings-font-family: 		Helvetica, Arial, sans-serif !default;
$headings-font-family-alt: 	Helvetica, Arial, sans-serif !default;
$headings-font-weight: 		500 !default;
$headings-line-height: 		1.1 !default;

/*===============================
=            Borders            =
===============================*/
$base-border-radius: 				3px;
$circle-border-radius: 				50%;

/*==================================
=            Dimensions            =
==================================*/